.main-search
  %h1
    Looking for a
    = succeed '?' do
      %strong condo, apartment,   house
  
  = render "shared/search"
  
  .search-filter
    %a.tag All
    %a.tag Condo
    %a.tag House and Lot
    %a.tag Apartment
    %a.tag Commercial
    
.recent-list-wrap.group
  .twelvecol
    .recent-list.list
      - @posts.each do |post|
        .list-details.group
          %ul
            %li.photo
            %li.listing-info
              %a
                %span.price 
                  = number_to_currency(post.price, :unit => "Php")
                %span.address 
                  = post.location
                %span.details                    
