.main-search
  %h1
    Looking for a
    = succeed '?' do
      %strong condo, apartment,   house
  
  = render "shared/search"
  
  .search-filter
    %a.tag All
    %a.tag Condo
    %a.tag House and Lot
    %a.tag Apartment
    %a.tag Commercial
